/*
orange #f68b1f
gray #939598
another gray #cececf;
a good gray #e9e9e9
*/

body {
  background-color: #e9e9e9;
  margin: 0;
}

#site-header {
  background-color: white;
  margin: 0;
  padding: 24px;
  text-align: center;
  font-size: 2em;
  color: #939598;
  border-bottom: 4px solid #f68b1f;
}

#map-collections {
  margin: 24px 15%;
  font-size: 2em;
}

#map-collections > .collection {
  background-color: white;
  margin: 8px 0;
}

.collection {
  font-size: 0.8em;
  padding: 16px;
}

.collection__header {
  border-bottom: 1px solid #cececf;
}

.card {
  margin: 16px 16px 8px 16px;
  padding: 8px;
  border: 1px outset #cececf;
}

a {
  color: #f68b1f;
  text-decoration: none;
  font-size: 1rem;
  transition: color 0.1s linear;
  width: 100%;
  display: inline-block;
}

a:hover {
  color: #939598;
  text-decoration: none;
}

.description {
  color: #939598;
  font-size: 0.9rem;
  /* border: 1px solid #cececf; */
}